.bg-default-image {
  background-image: url("/images/taco.png");
  background-size: 50%;
  height: 150px;
  text-shadow: 2px 2px 8px rgba(201, 158, 67, 0.781);
}

.logo {
  text-shadow: 2px 2px navy;
}

.active {
  background-color: navy;
}

.pointer {
  cursor: pointer;
}
